<div class="home-section">
  <h2>Bienvenido a nuestro sitio</h2>
  <p>¡Descubre nuestras últimas novedades y promociones!</p>

  <!-- Renderizar otras secciones aquí -->
  {{> partials/latest-article-template}}
  {{> partials/promotional-product-template}}
</div>
